@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    /* font-family: "montserrat",sans-serif; */
  }

body{
  font-family: 'Odibee Sans', ;
}

  .testimonials{
    padding: 40px 0;
    background: #212529;
    color: #767777;
    text-align: center;
  }

  .inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  
  .border{
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }

  .testimonial{
    background: #fff;
    padding: 30px;
  }

  .testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }

  
.social ul{
    /* border: 1px solid black; */
    width: 100%;
    justify-content: center;
    height: 90px;
    display: flex;
}

.social ul li{
    position: relative;
    margin: 1.5rem 0.5rem;
    transition: 0.5s;
    list-style: none;
    /* border: 1px solid black; */
    transform: rotate(-30deg) skew(15deg);
    width: 100px;
    height:50px;
    /* background: black; */
}
.social ul li:nth-child(1){
    background: none;
}


.social ul li span{
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    justify-content: center;
    align-items: center !important;
    font-size: 20px;
    /* background: black; */
    /* border: 1px solid black; */
    width: 100%;
    display: flex !important;
    height: 100%;;
    color: black;
}

.social ul li:hover span:nth-child(5){
    transform: translate(50px,-50px);
    opacity: 1;
}

.social ul li:hover span:nth-child(4){
    transform: translate(40px,-40px);
    opacity: 0.8;
    /* z-index: -2; */
}
.social ul li:hover span:nth-child(3){
    transform: translate(30px,-30px);
    opacity: 0.6;
}
.social ul li:hover span:nth-child(2){
    transform: translate(20px,-20px);
    opacity: 0.4;
}
.social ul li:hover span:nth-child(1){
    transform: translate(10px,-10px);
    opacity: 0.2;
}

.social ul li:nth-child(1) span{
    background: #00A5CF;
    color: white;
}

.social ul li:nth-child(2) span{
    background: #00A676;
    color: white;
}
.social ul li:nth-child(3) span{
    background:#2F195F;
    color: white;
}
.social ul li:nth-child(4) span{
    background: #C52184;
    color: white;
}
.social ul li:nth-child(5) span{
    background: #DF3B57;
    color: white;
}
  
  @media screen and (max-width:960px) {
  .col{
    flex: 100%;
    max-width: 80%;
  }
  }
  
  @media screen and (max-width:600px) {
  .col{
    flex: 100%;
    max-width: 100%;
  }

  .social ul li span{
    font-size: 1.3rem;
  }

  .social ul li{
    position: relative;
    margin: 1.5rem 0.2rem;
    transition: 0.5s;
    list-style: none;
    /* border: 1px solid black; */
    transform: rotate(25deg) skewX(0deg);
    width: 100px;
    height: 50px;
    /* background: black; */
  }

  .social ul li:hover span:nth-child(5){
    transform: translate(0px,0px);
    opacity: 1;
}

.social ul li:hover span:nth-child(4){
    transform: translate(0px,0px);
    opacity: 0.8;
    /* z-index: -2; */
}
.social ul li:hover span:nth-child(3){
    transform: translate(0px,0px);
    opacity: 0.6;
}
.social ul li:hover span:nth-child(2){
    transform: translate(0px,0px);
    opacity: 0.4;
}
.social ul li:hover span:nth-child(1){
    transform: translate(0px,0px);
    opacity: 0.2;
}

   }
  